html {
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffe6f0;
}

#mainHeader {
  text-align: right;
  background-color: #ffffff;
  left: 0px;
  top: 0px;
}

#mainNav ul {
  color: #000000;
  padding: 0;
  margin: 20px 0px;
  list-style: none;
}

#mainNav li {
  display: inline;
  padding: 5px 10px;
  padding-top: 20px;
}

#mainNav a {
  color: #000000;
  text-decoration: none;
  font-size: 1em;
}

#mainNav a:hover {
  color: #8f4061;
  font-weight: 600;
}

.btn-signup {
  font-weight: bold;
  padding: 5px 20px;
  color: #8f4061 !important;
  background-color: #e8bdcf !important;
  border-color: #e8bdcf !important;
  margin: 2px;
}

.btn-signup:hover {
  color: #ffffff !important;
  background-color: #8f4061 !important;
  border-color: #8f4061 !important;
}

.horizontal-center {
  margin: 0 auto;
  display: block;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pc-logo-1 {
  width: 200px;
  margin-left: 30px;
}

.pc-logo-2 {
  margin-top: 20px;
  height: 70%;
  margin-left: 18%;
}

.rect-bg {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 40%;

  background: #f2acb6;
}

.rect-login {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 55%;
  top: 18%;
  padding: 20px;
  background: #e8bdcf;
  border-radius: 100px;
}

.userLogin {
  color: #8f4061;
  font-weight: bold;
  text-align: center;
}

.login-credentials {
  margin: 30px;
}

.btn-login {
  margin-top: 70px;
  padding: 5px 50px;
}
