body {
  font-family: "Poppins", sans-serif;
  background: #ffe6f0;
  overflow-x: hidden;
}

#mainHeader {
  text-align: center;
  background-color: #ffffff;
  left: 0px;
  top: 0px;
}

#mainNav ul {
  text-align: left;
  color: #000000;
  padding: 0;
  margin: 10px 0px;
  list-style: none;
}

#mainNav li {
  display: inline;
  padding: 2px 10px;
}

#mainNav a {
  color: #000000;
  text-decoration: none;
  font-size: 1em;
}

#mainNav a:hover,
#mainNav a:active,
#mainNav .active {
  color: #8f4061 !important;
  font-weight: bold !important;
}

.btn-signup {
  font-weight: bold;
  padding: 5px 20px;
  color: #8f4061 !important;
  background-color: #e8bdcf !important;
  border-color: #e8bdcf !important;
  margin: 20px 10px;
}

.btn-signup:hover {
  color: #ffffff !important;
  background-color: #8f4061 !important;
  border-color: #8f4061 !important;
}

.horizontal-center {
  margin: 0 auto;
  display: block;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pc-logo-1 {
  width: auto;
  height: 60px;
  margin-top: 7px;
  margin-left: 30px;
}

.pc-logo-2 {
  margin-top: 20px;
  width: auto;
  height: 120px;
  margin-left: 18%;
}

.rect-bg {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 43%;

  background: #f2acb6;
}

.rect-login {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 55%;
  top: 18%;
  padding: 20px;
  background: #e8bdcf;
  border-radius: 100px;
}

.userLogin {
  font-family: "Sacramento", cursive;
  font-size: 3em;
  margin-top: 10px;
  color: #8f4061;
  font-weight: bold;
  text-align: center;
}

.login-credentials {
  margin: 30px;
}

.btn-login {
  margin-top: 30px;
  background-color: #e77b8a;
  border-color: #e77b8a;
}

.btn-login:hover {
  background-color: #ce5c6c;
  border-color: #ce5c6c;
}

.forgotPwd {
  text-decoration: none;
  font-weight: bold;
  text-align: end;
  color: #8f4061;
}

.forgotPwd:hover {
  color: #ce246b;
}

.register-rect {
  position: absolute;
  width: 80%;
  height: 520px;
  left: 10%;
  top: 17%;
  padding: 40px 70px;
  background: #e8bdcf;
  border-radius: 100px;
}

.register-rect button {
  margin-top: 20px;
}

.gettingStarted {
  color: #8f4061;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}

.reg-form {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutUs-sectiontitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 5em;
  text-align: center;
  margin-top: 50px;
}

.aboutUs-body {
  font-size: 2em;
  text-align: center;
  margin: 0px 15%;
  line-height: 2em;
}

.card {
  margin: 50px;
}

.contactUs-sectiontitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 5em;
  text-align: center;
  margin-top: 50px;
}

.contactUs-rect {
  position: relative;
  width: 80%;
  height: 520px;
  left: 10%;
  top: 17%;
  padding: 40px 70px;
  background: #e8bdcf;
  border-radius: 100px;
  margin-bottom: 50px;
  line-height: 2.5em;
}

.contactUs-content {
  color: #8f4061;
  font-size: 1.3em;
}

.btn-shopee {
  background-color: #e65305;
  border-color: #e65305;
}

.btn-shopee:hover {
  background-color: #c44805;
  border-color: #c44805;
}

.btn-shopee:active,
.btn-shopee:focus {
  background-color: #e65305 !important;
  border-color: #e65305 !important;
}

.shopee-logo {
  width: 1em;
}

.btn-instagram {
  background-image: linear-gradient(to right, mediumvioletred, royalblue);
  border-color: none;
  border-width: 0px;
}

.btn-instagram:hover {
  filter: brightness(80%);
}

.followUs {
  width: 350px;
}

.followMe {
  background-color: #ce5c6c;
  border-color: #8f4061;
}

.followMe:hover,
.followMe:active {
  background-color: #8f4061;
  border-color: #8f4061;
}

.map {
  border-radius: 40px;
  float: right;
  width: 500px;
  position: relative;
}

.products-sectiontitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 5em;
  text-align: center;
  margin-top: 50px;
}

.products-subtitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 2.5em;
  text-align: start;
  margin-left: 10%;
  margin-top: 20px;
}

.promo {
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 2rem;
}

.site-slider {
  position: relative;
}

.hr {
  position: relative;
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.position-top {
  position: absolute;
  top: 50%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
  background-color: #f2acb6;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: #8f4061;
  margin: 0 5rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
  opacity: 1;
}

.right-0 {
  right: 0;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.slick-dots li {
  margin: 0 0.6rem;
}

.slick-dots button {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  border: none;
  background-color: white;
  text-indent: -9999px;
  border-radius: 100%;
}

.slick-dots li.slick-active button {
  transform: scale(2.5);
  border-color: white;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}

.site-slider-two {
  position: relative;
  height: 35%;
}

.site-slider-two .product {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.site-slider-two .product img {
  width: 250px;
  height: 400px;
  margin: auto;
}

.site-btn.btn-span {
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid black;
  background-color: white;
  color: lightgray;
}

.slider-two .slick-track .product:hover span {
  background-color: #8f4061;
}

/* Manage Users */

.manageUsers-Title {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 5em;
  text-align: center;
  margin-top: 50px;
}

.manageRect {
  position: absolute;
  background-color: #f5bcc5;
  width: 80%;
  height: 2600px;
  left: 10%;
  top: 8.6%;
  padding: 17px 14px;
}

.innerManageRect {
  position: absolute;
  width: 70%;
  height: 520px;
  left: 15.2%;
  top: 28%;
  padding: 40px 70px;
  background: #d095ae;
  border-radius: 100px;
}

.btn-deleteUser {
  margin-top: 100px;
  background-color: #db3d52;
  border-color: #db3d52;
}

.innerManageRect2 {
  position: absolute;
  width: 70%;
  height: 520px;
  left: 15.2%;
  top: 90%;
  padding: 40px 70px;
  background: #d095ae;
  border-radius: 100px;
}

.innerManageRect3 {
  position: absolute;
  width: 70%;
  height: 520px;
  left: 15.2%;
  top: 152%;
  padding: 40px 70px;
  background: #d095ae;
  border-radius: 100px;
}

.innerManageRect4 {
  position: absolute;
  width: 70%;
  height: 520px;
  left: 15.2%;
  top: 214%;
  padding: 40px 70px;
  background: #d095ae;
  border-radius: 100px;
}

/* CLIENTS-ORDERS */

.clientOrdersBackground {
  position: absolute;
  background-color: #f5bcc5;
  width: 80%;
  height: 2600px;
  left: 10%;
  top: 8.6%;
  padding: 17px 14px;
}

.clientOrdersRect {
  position: absolute;
  width: 70%;
  height: 250px;
  left: 15.2%;
  top: 15%;
  padding: 40px 70px;
  background: #d095ae;
  border-radius: 100px;
}

.btn-ViewOrder {
  margin-top: 30px;
  background-color: #d67682;
  border-color: #d67682;
}

.btn-ViewOrder:hover {
  background-color: #db3d52;
  border-color: #db3d52;
}

/* RECEIPT */

.receiptRect {
  position: absolute;
  background-color: #f5bcc5;
  width: 80%;
  height: 2600px;
  left: 10%;
  top: 8.6%;
  padding: 17px 14px;
}

.receiptPaper {
  position: absolute;
  background-color: #ffe6f0;
  width: 79%;
  height: 2400px;
  left: 10.5%;
  top: 5.4%;
  padding: 17px 14px;
}

.receipt-title {
  font-family: "Poppins", cursive;
  color: #8f4061;
  font-size: 7em;
  text-align: center;
  margin-top: 50px;
}

.receipt-sidenote {
  font-family: "Poppins", cursive;
  color: #8f4061;
  font-size: 7em;
  text-align: center;
  margin-top: 50px;
}

#orderID {
  margin-left: -40px;
}

#orderID-label {
  margin-left: 470px;
}

.receipt-companyName {
  font-family: "Poppins";
  color: black;
  font-size: 1.3em;
  text-align: center;
  margin-top: 2px;
  margin-left: -33px;
}

.clientName-Receipt {
  font-family: "Poppins";
  color: black;
  font-size: 1.3em;
  text-align: end;
  margin-top: 3px;
  margin-left: 410px;
}

.clientName2 {
  font-family: "Poppins";
  color: black;
  font-size: 1.3em;
  text-align: end;
  margin-top: 3px;
  margin-left: 410px;
  margin-right: 100px;
}

#customerName-label {
  margin-left: 450px;
}

#receipt-customerLocation {
  margin-left: -40px;
}

#customerLocation-label {
  margin-left: 350px;
}

#receipt-customerName {
  margin-left: -40px;
}

#products-label {
  margin-top: 120px;
  font-size: 1.7em;
}

#quantity-label {
  margin-top: 120px;
  font-size: 1.7em;
}

#total-label {
  margin-top: 120px;
  font-size: 1.7em;
}

/* ORDER FORM */

/* LEFT TOOLBAR */
.orderForm-leftToolbar {
  position: absolute;
  background-color: #f5bcc5;
  width: 20%;
  height: 2600px;
  top: 8.6%;
  padding: 17px 10px;
}

#firstSet {
  font-size: 1.5em;
}

.btn-itemCategory {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 20px;
  color: #8f4061 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-radius: 4em;
  margin: 18px -35px 10px 5px;
  width: 150%;
}

#firstCategory {
  margin-top: 50px;
}

.btn-itemCategory:active,
.btn-itemCategory:focus,
.btn-itemCategory:hover {
  color: #ffffff !important;
  background-color: #8f4061 !important;
  border-color: #8f4061 !important;
}

.pictureContainer {
  margin-left: 430px;
}

/* PICTURE SLIDER AND MAIN PICTURE */
#mainPicture {
  margin-top: 60px;
  max-width: 38%;
  max-height: 500px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid black;
  align-items: center;
  display: flex;
}

.slidePicture {
  object-fit: cover;
  max-width: 12%;
  max-height: 280px;
  border: 2px solid black;
  opacity: 0.5;
  margin: 5px;
}

.slidePicture:hover {
  opacity: 1;
}

.slide-wrapper {
  max-width: 60%;
  margin-top: 15px;
  display: flex;
  min-height: 100px;
  align-items: center;
  margin-left: -30px;
}

#slider {
  width: 43%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin-right: 10px;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
}

#right-arrow {
  margin-left: -10px;
}
/* RIGHT SIDE INPUTS */

/* TITLE */
.right-side {
  margin-left: 1000px;
  margin-top: -680px;
}
.product-name {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 5em;
  text-align: center;
  margin-top: 50px;
  margin-left: 130px;
}

/* COLOR BUTTONS */
.btn-color {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 5px;
  color: #8f4061 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-radius: 4em;
  margin: 12px -35px 20px -65px;
  width: 100%;
}

#btn-firstColor {
  margin: 12px -35px 0px -65px;
  width: 100%;
}

.btn-color:hover,
.btn-color--selected,
.btn-color:active,
.btn-color:focus {
  color: #ffffff !important;
  background-color: #8f4061 !important;
  border-color: #8f4061 !important;
}

.color-button-set {
  margin-left: -100px;
  margin-top: 50px;
}

#label-color {
  margin-left: -50px;
  font-size: 2em;
  font-weight: bold;
  padding: 5px 20px;
  color: #8f4061 !important;
}

/* SIZES RADIO BOXES */
.sizes-wrapper {
  margin-top: 40px;
}

#label-size {
  margin-left: -114px;
  padding-right: -100px;
  font-size: 2em;
  font-weight: bold;
  padding: 5px 20px;
  color: #8f4061 !important;
}

#size-1 {
  margin-left: -100px;
  margin-top: 25px;
}

.radio-Size {
  margin-left: -100px;
  margin-top: 25px;
}

/* QUANTITY BUTTON */
.quantity-Counter {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-left: -320px;
  margin-top: 6px;
}

.quantity-Counter button {
  width: 45px;
  height: 45px;
  font-size: 1.2em;
  border: 1px solid black;
  color: #8f4061;
  border-radius: 0px;
  background: white;
}

.quantity-Counter button:hover,
.quantity-Counter button:active,
.quantity-Counter button:focus {
  color: #ffffff !important;
  background-color: #8f4061 !important;
  border-color: #8f4061 !important;
}
#quantity {
  text-align: center;
  width: 120px;
  display: flex;
  height: 86%;
  margin-top: -0.2px;
}

#label-quantity {
  margin-left: -170px;
  padding-right: -100px;
  font-size: 2em;
  font-weight: bold;
  padding: 5px 20px;
  color: #8f4061 !important;
}

.quantity-wrapper {
  margin-top: 50px;
}

/* ADD TO CART AND BUY NOW*/

.buy-wrapper {
  margin-top: 100px;
}
.buy-wrapper button {
  width: 305px;
  height: 85px;
  font-size: 1.7em;
  font-weight: bold;
  border: 1px solid black;
  color: #8f4061;
  border-radius: 0px;
  background: white;
}

.buy-wrapper button:hover,
.buy-wrapper button:active,
.buy-wrapper button:focus {
  color: #ffffff !important;
  background-color: #8f4061 !important;
  border-color: #8f4061 !important;
}

.buy-button {
  margin-left: 50px;
}

/* TOTAL PRICE */

#label-totalPrice {
  font-size: 2em;
  font-weight: bold;
  padding: 3px 10px;
  color: #8f4061 !important;
}

#totalPrice {
  margin-top: 7px;
  margin-left: -47px;
  background-color: white;
  text-align: center;
  font-size: 1.2em;
  border-color: black;
}

/*CART STYLE*/

/*BACKGROUND*/
.cartBackground {
  position: absolute;
  background-color: #f5bcc5;
  width: 80%;
  height: 1000px;
  left: 10%;
  top: 8.6%;
  padding: 17px 14px;
}

.cart-Title {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 5em;
  text-align: center;
  margin-top: 100px 0px 0px -50px;
}

.scrollBackground {
  background-color: white;
  width: 800px;
  /*margin-left: 75px;
  margin-top: 100px;*/
  margin: 45px auto auto 75px;
  height: 700px;
}

.scrollBar {
  background-color: white;
  width: 800px;
  height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  border: 4px solid #8f4061;
}

.cartPicture-wrapper {
  border-color: black;
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;

  max-width: 80%;
  height: auto;
}

.cartPicture {
  background-size: cover;
  object-fit: cover;
  max-height: 600px;
  min-height: 320px;
  min-width: 120%;
  margin: 20px 0px 100px 37px;
  border: 2px solid black;
  border-radius: 40px;
}

.cartText-wrapper /* small text cubes sa scroll */ {
  width: 61%;
  height: 320px;
  margin-left: 34.6%;
  margin-top: -420px;
  padding: 40px 70px;
  background: #f5bcc5;
  border-radius: 40px;
  border: 2px solid #8f4061;
}

/* COLOR-RECEIPT */

.selectedLabels {
  font-size: 1.28em;
}

.selectedInputs {
  margin-top: -6.38px;
  margin-left: 39%;
  font-size: 1.28em;
  font: bolder;
}

#total-ReceiptLabel {
  margin-top: -13px;
}

/* RIGHT SIDE CART */
.checkoutBackground {
  width: 31%;
  height: 520px;
  margin-left: 64.6%;
  margin-top: -605px;
  margin-bottom: 100px;
  padding: 40px 70px;
  background: white;
  /*border-radius: 40px;  KUNG GUSTO MO NG CURVED CORNER */
  border: 4px solid #8f4061;
}

.btn-checkout {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 5px;
  color: #8f4061 !important;
  background-color: #f5bcc5 !important;
  border-color: #ffffff !important;
  border-radius: 4em;
  align-items: center;
  margin: 12px -35px 20px -28px;
  width: 120%;
  height: 80px;
}

.btn-checkout:hover,
.btn-checkout:active,
.btn-checkout:focus {
  color: #ffffff !important;
  background-color: #8f4061 !important;
  border-color: #8f4061 !important;
}

.checkoutLabels {
  margin-top: 20px;
  font-size: 1.3em;
  width: fit-content;
  padding-left: -50px;
  margin-left: -50px;
}

.selected-finalInputs {
  font-size: 1.3em;
  margin-top: 13.8px;
}

/* CHECKOUT */

#checkOut-title {
  margin-left: -30px;
}

.first-row-checkout-bg {
  /* position: static; */
  /* width: 93%; */
  /* height: 310px; */
  /* margin-left: 7.3%; */
  /* top: 28%; */
  margin: 1rem;
  padding: 1.3rem 2rem;
  background: #e8bdcf;
  border-radius: 20px;
}

/* #billingInfo2 {
  margin-left: 1.2%;
} */

.info-header {
  font-size: xx-large;
  text-align: center;
  /* margin-top: -30px; */
}

.info-head {
  /* margin-left: -13px; */
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* margin-top: -15px; */
}

.checkout-labels {
  font-size: 1.43em;
  /* margin-left: -20px; */
  flex: 1 1 20rem;
}

.checkout-inputBL {
  /* margin-left: -100px; */
  /* width: 142%; */
  flex: 1 1 auto;
}

.lower-info {
  display: flex;
  flex-direction: column;
}

.bill-info-input {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-group:last-of-type {
  margin-bottom: 0rem;
}

.order-table {
  width: 100%;
  overflow-y: auto;
  max-height: 384px;
}

.table-img {
  max-width: 5rem;
  height: auto;
}

.photos-arrange {
  width: 100%;
  overflow-y: auto;
  max-height: 204px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.payment-logos {
  width: 9rem;
  margin: 0.69rem;
  border-radius: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
}

.action-btn {
  height: 5rem;
  width: 100%;
  filter: brightness(100%);
  margin: 1rem;
  border-radius: 1rem;
  color: white;
  font-size: 1.2rem;
}

.action-btn:hover {
  filter: brightness(130%);
}

.action-btn:active {
  filter: brightness(90%);
}

.cancel-button {
  background-color: #e77b8a;
}

.confirm-button {
  background-color: #8f4061;
}

.total-container {
  display: flex;
  flex-direction: column;
  height: 14rem;
  align-items: center;
  justify-content: center;
}

.price-header {
  font-size: 1.3rem;
  font-weight: bold;
}

.price {
  font-size: 2rem;
  font-weight: bold;
}
