<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/template/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/template/css/styles.css">

    <!-- Font - Poppins, Sacramento -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap" rel="stylesheet">

    <!-- FontAwesome - Icons -->
    <script src="https://kit.fontawesome.com/21d7603b0d.js" crossorigin="anonymous"></script>

    <title>Penelope's Collectionz</title>

</head>

<body>
    <div class="container-fluid">
        <!-- Header -->
        <header id="mainHeader" class="row">
            <div class="col-md-4 col-sm-12 col-12 text-md-start">
                <img class="pc-logo-1" src="/template/Images/pc-logo1.png" alt="Penelope's Collectionz">
            </div>
            <div id="mainNav" class="col-md-4 col-sm-6 col-6">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler mt-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="products.html">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="aboutUs.html">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="contactUs.html">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="mainNav" class="col-md-4 col-sm-6 col-6 text-end">
                <a href="index.html"><button class="btn btn-primary btn-signup">Login</button></a>
            </div>
        </header>

        <!-- Contents -->
        <main>
            <h1 class="contactUs-sectiontitle">Contact Us</h1>
            <div class="contactUs-rect">
                <div class="row">
                    <div class="col-md-6">
                        <p class="contactUs-content">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            Contact Number: 09XX-XXX-XXXX
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="contactUs-content"><i class="fa fa-location-arrow" aria-hidden="true"></i> Location:
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="contactUs-content">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            Email: example@email.com
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="contactUs-content text-center">1234-A Example St., Quezon City, Philippines</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="contactUs-content">
                            Follow Us On:
                        </p>
                        <div>
                            <a href="https://www.facebook.com/penelopescollectionz"
                                class="btn btn-primary btn-block btn-lg followUs horizontal-center" target="_blank"><i
                                    class="fa fa-facebook" aria-hidden="true"></i> Facebook</a> <br>
                            <a href="https://www.instagram.com/penelopescollectionz/"
                                class="btn btn-primary btn-block btn-lg btn-instagram followUs horizontal-center"
                                target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a> <br>
                            <a href="https://shopee.ph/penelopes_collectionz"
                                class="btn btn-primary btn-block btn-lg btn-shopee followUs horizontal-center "
                                target="_blank"><img class="shopee-logo" src="/template/Images/shopee-logo.png"
                                    alt="Shopee Logo">
                                Shopee</a> <br>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/template/Images/MapSample.jpg" alt="Map Sample" class="map">
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- Bootstrap - JS -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>