.profileCard {
  width: 25%;
  min-width: 300px;
  margin: 50px;
}

.profileImg {
  width: 75%;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 50%;
}

.clientName {
  text-align: center;
  font-weight: 700;
  color: #8f4061;
  font-size: 1.6rem;
}

.clientDesc {
  font-size: 1.3rem;
  text-align: center;
  font-style: italic;
}

.followClient {
  margin: 1.3rem 3rem;
}
.card-body p {
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  .profileCard {
    width: 75%;
    margin: 20px auto;
  }
}
