.orderDetailsPaymentMethodImg {
  width: 175px;
  height: 175px;
}

.orderPaymentMethodDetails {
  margin: 20px 0px;
  padding: 0;
  height: 60px;
}

.orderDetails,
.orderDetailsLeft,
.orderDetailsRight {
  background-color: #e8bdcf;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
}
