.manageProducts {
  height: auto;
  width: 100%;
  padding: 5rem 0;
}

.manageProductsTable {
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size: 1.3rem;
  border-color: #8f4061;
  border: 10px;
}

.manageProductsTable td {
  padding: 10px 30px;
  vertical-align: middle;
}

.manageProductsTable img {
  margin: auto;
  vertical-align: middle;
}

.manageProducts-sectionTitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 6rem;
  text-align: center;
}

.btnContainer {
  position: relative;
  height: 50px;
  width: 300px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 20px 0;
}

.clientSearchFilters {
  vertical-align: center;
  margin: auto 0;
  padding: 0;
}

.clientSearchFilters ul {
  padding: 0 auto;
}

.clientSearchFilters ul li {
  padding: 0 10px;
  vertical-align: middle;
  display: inline-block;
}

.imgPlaceholder {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.imgPlaceholder:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.imgUpload input {
  cursor: pointer;
}

.imgChanger {
  display: none;
}

tr .row {
  width: 100%;
}

.clientFormSelect {
  top: 50%;
}

.categoryDisp {
  margin-bottom: 1rem;
}

.formLabel {
  text-align: end;
  margin: auto 0;
  display: inline;
}

.addBtnContainer {
  margin: 0 15px;
  padding: 0;
  height: 50px;
  width: 40%;
  display: inline-block;
}

.modalButtons {
  text-align: center;
}

.modal {
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.productImg {
  height: auto;
  width: 100px;
  margin: 0;
}

.clientPagination {
  width: 100%;
}

.colorWrapper {
  padding-bottom: 10px;
}

.stockCriticalMid {
  color: orange;
}

.stockCriticalHigh {
  color: red;
}

.imgUpload {
  margin: 15px;
}

.imgHolder {
  justify-content: center;
  align-items: center;
}

.errorHandler {
  padding: 0 !important;
}
