.orderSummaryImg {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.orderSumSubtotal {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .orderSumSubtotal {
    width: 100% !important;
  }
}
