.productDetails {
  text-align: center;
  margin: auto 0;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: 700;
  color: #8f4061;
}

.product {
  width: 20%;
  height: auto;
  margin: 0;
  padding: 0;
  float: left;
}

@media screen and (max-width: 638px) {
  .product {
    width: 30rem;
  }
}

.product a {
  color: black;
}

.product a:hover {
  text-decoration: none;
}
