.header {
  height: 7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerIcons {
  font-size: 2.5rem;
}

.wrap {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.logo1 {
  margin: 0;
  width: 10rem;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
}

.callToActions {
  display: inline-block;
  right: 2rem;
}

.callToActions ul,
.callToActions li {
  height: 100%;
  margin: 0;
  padding: 0;
}

.callToActions li {
  list-style-type: none;
  display: inline-block;
  padding: 15px 10px;
}

.nav-link a {
  color: #8f4061;
  font-size: 1.5rem;
}

.nav-link a:hover,
.nav-link a:active {
  font-weight: 700;
  text-decoration: none;
}

.navbar-toggler {
  margin-left: 2rem;
}

.mainNav {
  background-color: #fff;
}

.modalDesc {
  font-size: 1.5rem;
  text-align: center;
}

.modalDescEmailText {
  margin-top: 2rem;
  margin-bottom: 0;
}
.modalDescEmailTextNote {
  margin-top: 2rem;
  margin-bottom: 0;
  font-style: italic;
}

.emailToVerify {
  font-weight: 700;
  color: #8f4061;
}

@media (max-width: 767px) {
  .xs-only-text-left {
    text-align: left !important;
  }

  .xs-only-text-right {
    text-align: right !important;
  }

  .xs-only-text-center {
    text-align: center !important;
  }
}
