.clientUserOrders-sectionTitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 6rem;
  text-align: center;
}

.ordersNote {
  margin: 0 50px;
}

@media screen and (max-width: 767px) {
  .clientOrderHistoryWrapper {
    width: 100%;
    overflow-x: auto;
  }
}
