.slider {
  width: 90%;
  height: 450px;
  margin: 20px auto;
  margin-bottom: 75px;
  border: 100px;
}

.awssld__wrapper {
  border-radius: 20px !important;
}

.slider img {
  width: 100%;
}

.products-subtitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 3em;
  text-align: start;
  margin-left: 20px;
  margin-top: 20px;
}

.whatsNewImg {
  max-height: 500px;
  width: auto;
}

.awssld__content img{
  transition: 0.4s all;
}

.awssld__content img:hover{
  filter: brightness(80%) !important;
  cursor: pointer;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
  background-color: #f2acb6;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: #8f4061;
  margin: 0 5rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
  opacity: 1;
}

.right-0 {
  right: 0;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.slick-dots li {
  margin: 0 0.6rem;
}

.slick-dots button {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  border: none;
  background-color: white;
  text-indent: -9999px;
  border-radius: 100%;
}

.slick-dots li.slick-active button {
  transform: scale(2.5);
  border-color: white;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}

@media screen and (max-width: 767px) {
  .awssld__content img {
    width: 100% !important;
    height: auto !important;
  }

  .slider {
    height: 125px;
  }
}
