/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 120px;
}

#page-wrap {
  height: 100%;
  overflow: auto;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #8f4061;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #8f4061;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #e8bdcf;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

.outer-container {
  height: 100%;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #8f4061;
  padding: 1rem;
  font-size: 1.6rem;
}

.menu-item:hover {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.bookmarks {
  margin-top: 2.5rem;
  color: #8f4061;
  font-weight: 700;
}
