.rect-bg {
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 50%;
  background: #f2acb6;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}

@media screen and (max-width: 638px) {
  .rect-bg {
    display: none;
  }
}
