.aboutUs {
  padding: 5rem 0;
  height: 100%;
}

.aboutUs-sectiontitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 6rem;
  text-align: center;
}

.aboutUs-body {
  font-size: 2em;
  text-align: justify;
  margin: 50px 10%;
  line-height: 2em;
}

.card {
  margin: 20px;
}

.followMe {
  background-color: #ce5c6c;
  border-color: #8f4061;
}

.followMe:hover,
.followMe:active {
  background-color: #8f4061;
  border-color: #8f4061;
}
