.products {
  display: block;
  width: 100%;
  padding: 3.5rem 5rem;
}

.prds {
  display: inline-block;
}

.emptyProd {
  height: 100px !important;
  padding-bottom: 100px;
}

@media screen and (max-width: 638px) {
  .products {
    padding: 1rem;
    margin: 0;
  }
}

.products .alert {
  font-size: 2rem;
  text-align: center;
}

.products-sectionTitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 6rem;
  text-align: center;
}

.products-subtitle {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 3em;
  text-align: start;
  margin-left: 20px;
  margin-top: 20px;
}

.decker {
  margin: auto;

  padding: 0 18.7rem;
}

.searchFilters {
  display: inline-block;
  vertical-align: center;
  margin: auto 0;
}

.searchFilters ul {
  padding: auto 0;
}

.searchFilters ul li {
  padding: 0 10px;
  vertical-align: middle;
  display: inline-block;
}

li .formRow select {
  margin: 0;
}

span {
  margin: auto 0;
}

.bm-burger-button {
  position: fixed !important;
}

@media screen and (max-width: 767px) {
  .products {
    padding: 2rem 0;
  }

  .products row {
    padding: 0 10px;
  }

  .bm-burger-button {
    display: none;
  }
}
