.btn-coral {
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 1rem 5;
  background-color: #e0838f;
  border-color: #e0838f;
  text-transform: uppercase;
}

.btn-coral:hover,
.btn-coral:active,
.btn-coral:focus {
  background-color: #ce5c6c !important;
  border-color: #ce5c6c !important;
  box-shadow: #ce5c6c;
}
