.formRow {
  display: inline-block;
  width: 100%;
}
label {
  width: 100%;
  text-align: left;
}

select {
  width: auto;
  float: left;
  font-size: 1.25rem;
  border-radius: 8px;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  padding: 10px 0px;
  margin: 10px auto;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

.formSelect {
  display: inline-block;
}
