.orderForm {
  padding: 5rem;
  width: 100%;
}

.productName {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.5rem;
}

.productImage {
  width: 500px;
  max-height: 500px;
  object-fit: cover;
  /* cursor: pointer; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: #8f4061;
  border-radius: 10px;
  display: flex;
  margin: 20px auto;
}

.productLabels {
  text-align: left !important;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1.6rem 5px;
  color: #8f4061 !important;
}

.orderBtns {
  width: 75%;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.productTotalPrice {
  text-align: center;
  padding: 2rem 5px;
  font-size: 2rem;
  font-weight: bolder;
  color: #8f4061 !important;
}

.colorsBtn {
  padding: 0 1rem;
}

.counter {
  width: 200px;
}

.counterWrapper {
  background-color: #fff;
}

.counterNum {
  text-align: center !important;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000 !important;
}

.subBtn,
.addBtn {
  width: 100%;
  height: 40px;
  margin-top: 0 !important;
  border: none;
  transition: all 0.3s;
  font-size: 1.3rem;
}

.subBtn,
.subBtn:active {
  background-color: #e77b8a !important;
}

.addBtn,
.addBtn:active {
  background-color: #8f4061 !important;
}

.subBtn:hover {
  background-color: #be5563 !important;
}

.addBtn:hover {
  background-color: #682b44 !important;
}

.addBtn:active,
.subBtn:active {
  width: 110%;
  height: 55px;
}

.productDesc {
  font-weight: bold;
  color: #8f4061;
  margin-bottom: 20px;
}

.productDescWrapper {
  margin: 50px 0;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buyBtn {
  box-shadow: none !important;
  background-color: #e77b8a !important;
  border: none;
  font-weight: 700;
  transition: all 0.3s;
}

.addToBtn {
  background-color: #8f4061 !important;
  border: none;
  box-shadow: none !important;
  font-weight: 700;
  transition: all 0.3s;
}

.buyBtn:hover {
  background-color: #be5563 !important;
}

.addToBtn:hover {
  background-color: #682b44 !important;
}

.addToBtn:disabled,
.buyBtn:disabled {
  filter: brightness(50%);
}

.modalBtns {
  width: 75%;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.addToCartImg {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.cautionConstraints {
  color: #ffc104;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238f4061' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238f4061' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media screen and (max-width: 767px) {
  .orderForm {
    padding: 2rem;
  }

  .productImage {
    width: 300px;
  }

  .counter {
    margin: 0 auto;
  }

  .orderBtns {
    width: 100%;
    padding: 1rem 0.2rem;
    font-size: 1.3rem;
  }
}
