.orderForm {
  padding: 5rem;
  width: 100%;
}

.productName {
  font-family: "Sacramento", cursive;
  color: #8f4061;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.productImage {
  width: 500px;
  max-height: 500px;
  object-fit: cover;
  /* cursor: pointer; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: #8f4061;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
}

.productLabels {
  text-align: left !important;
  font-size: 2em;
  font-weight: bold;
  padding: 1.6rem 5px;
  color: #8f4061 !important;
}

.orderBtns {
  width: 75%;
  padding: 1rem 0;
  font-size: 1.6rem;
}

.productTotalPrice {
  text-align: center;
  padding: 2rem 5px;
  font-size: 3rem;
  font-weight: bolder;
  color: #8f4061 !important;
}

.colorsBtn {
  padding: 0 3rem;
}

.productSize {
  margin: 0 2rem;
}

.counter {
  width: 300px;
}

.counterWrapper {
  background-color: #fff;
}

.counterNum {
  text-align: center !important;
  font-size: 2em;
  font-weight: bold;
  color: #000 !important;
}

.subBtn,
.addBtn {
  width: 100%;
  height: 50px;
  border: none;
  margin: 0;
  transition: all 0.4s;
  font-size: 2rem;
}

.subBtn,
.subBtn:active {
  background-color: #e77b8a !important;
}

.addBtn,
.addBtn:active {
  background-color: #8f4061 !important;
}

.subBtn:hover,
.addBtn:hover {
  filter: brightness(90%);
}

.addBtn:active,
.subBtn:active {
  width: 110%;
  height: 55px;
}

.productDesc {
  font-weight: bold;
  color: #8f4061;
  margin-bottom: 20px;
}

.productDescWrapper {
  margin: 50px 0;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buyBtn {
  box-shadow: none !important;
  background-color: #e77b8a !important;
  border: none;
}

.addToBtn {
  background-color: #8f4061 !important;
  border: none;
  box-shadow: none !important;
}

@media screen and (max-width: 638px) {
  .orderForm {
    padding: 2rem;
  }
}
