.header {
  height: 7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerIcons {
  font-size: 2.5rem;
}

.wrap {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.wrap .logo1 {
  position: absolute;
  margin: 0;
  width: 10rem;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

img {
  display: block;
  width: 100%;
  margin: 0;
}

.callToActions {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

ul,
li {
  height: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 20px 10px;
}
