.customerUserOrdersHolder {
  background-color: #e8bdcf;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
}

.customerUserOrdersHolderDetails {
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .customerUserOrdersHolder {
    width: 1000px;
  }
}
